<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="URDF_9">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import URDF_9 urdf file -->
    <xacro:include filename="$(find wheelchair_arm_description)/urdf/URDF_9.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="URDF_9.ros2_control.xacro" />


    <xacro:URDF_9_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
